.splash {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 30px;
}

.Hi {
    opacity: 1;
    width: 408px;
    position: relative;
    font-size: 538px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Big Shoulders Display';
    color: #e84a4a;
    text-align: left;
    display: inline-block;

    margin: 0;
    animation: flickerAnimation .5s ease-in;
}

.splashBox {
    height: fit-content;
    width: 650px;
    color: #fff;
}

.splashHeader {
    font-size: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-family: Iceland;
    color: #fff;
    text-align: left;
    display: inline-block;
}

.splashMessage {
    font-size: 20px;
    letter-spacing: 0.08em;
    line-height: 130%;
    text-transform: uppercase;
    font-family: Iceland;
}

.EnterBtn {
    font-size: 22px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Big Shoulders Display';
    color: #e84a4a;
    text-align: left;

    background-color: #000003;
    border: 2px solid #e84a4a;
    padding: 15px 50px;
}

.EnterBtn:hover {
    background-color: #e84a4a;
    color: #000003;
}

.cornerEffect {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -100;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}